body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header {
  padding: 20px;
  background-color: rgb(39, 38, 38);
  text-align: left;
}
header a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-align: left;
  font-size: larger;
} */
main {
  flex: 1;
  position: relative;
}
.position {
  margin-left: 750px;

  .arrow {
    color: #555;
    justify-content: center;
  }
}

.colorful {
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
}
.site-container {
  min-height: 100vh;
}
.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.oneProduct {
  border: 1px #999;
  margin: 1rem;
}
.oneProduct img {
  width: 100%;
  max-width: 400px;
}
.linked {
  text-decoration: none;
  color: black;
  font-size: large;
  &:hover {
    color: white;
    background-color: #555;
  }
}
.fixing {
  max-width: 70%;
  margin-left: 200px;
}
.cardie {
  border-radius: 5px;
  text-align: center;
}
.history {
  max-width: 85%;
  margin-left: 120px;
}
.editing {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: black;
  opacity: 75%;
  font-size: larger;
  text-transform: capitalize;
  &:hover {
    color: black;
    opacity: 100%;
  }
}
.edditting {
  margin: 16px;
}
.editing::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-bottom: black solid;
  bottom: -0.5px;
  transition: width 0.3s;
}
.editing:hover:before {
  width: 25px;
}
.go {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  opacity: 99%;
}
.basket {
  margin: 20px 150px;
}
.navcollect {
  text-transform: capitalize;
  font-weight: 500;
}
.side__bar {
  padding: 23px;
}
.theCategory {
  text-transform: capitalize;
}
.goshop {
  color: #484646;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  border: black solid 1px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 8em;
  text-align: center;
}
.goshop:hover {
  text-decoration: underline;
  color: #fff;
  background: black;
}
.details {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
  height: 70%;
  margin-left: 120px;
}
.img-thumbnail {
  height: 80px;
}
.sign-container {
  max-width: 600px;
}
.pay-container {
  max-width: 100px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid black;
  color: #00ca8e;
}
.place-container {
  max-width: 80%;
}
.navbar-brand {
  font-weight: bold;
}
.site-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: black;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.btn-outline-primary {
  background-color: black;
  color: white;
}
.side-navbar {
  height: 100%;
  position: absolute;
}
.color {
  color: white;
  text-decoration: none;
}
.linking {
  text-decoration: none;
  color: black;
}
.productpage {
  justify-content: center;
  max-width: 90%;
  margin-top: 1.5%;
  margin-left: 3%;
}

.footer {
  margin: 100px 200px 20px 200px;
  .top {
    display: flex;
    gap: 50px;
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10%;
      text-align: justify;
      font-size: 14px;
      .title {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }
      .words {
        color: gray;
      }
    }
  }
  .bottom {
    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      .logo {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .copyright {
        font-size: 14px;
        color: gray;
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
  }
}

.jsut {
  font-size: xx-large;
  transition: 0.3s;
  transition: transform 2s;
  text-transform: capitalize;
}
.jsut:hover {
  text-decoration: underline 2px;
  color: #989898;
  transform: translateY(-10px);
}
.slider {
  height: calc(100vh - 50px);
  width: 100vw;
  position: relative;
  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transform: translateX(0vw);
    transition: all 1s ease;
  }
  .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    color: antiquewhite;
    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.sliderImg {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}
.featuredProducts {
  margin: 100px 200px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .title {
      flex: 2;
      text-transform: capitalize;
    }
    .words {
      flex: 3;
      color: gray;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    &:hover {
      .secondImg {
        z-index: 2;
        object-fit: cover;
      }
    }
    .size {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .mainImg {
      z-index: 1;
    }
  }
  .title {
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    text-transform: capitalize;
  }
}
.categories {
  display: flex;
  height: 150vh;
  gap: 5px;
  margin: 10px;

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .col-l {
    flex: 2;
  }
  .row {
    position: relative;
    flex: 1;
    display: flex;
    gap: 10px;
    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      width: 800px;
    }
  }
}

.userTitle {
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
}
.userCard {
  width: 100%;
  text-transform: capitalize;
}
.editProfileButton {
  text-align: center;
  height: 10px;
}
.editProfileButton Button {
  text-transform: capitalize;
  font-weight: 600;
}
